section {
    margin: 1rem 0;
}

h1  {
    margin-bottom: 1rem;
}

.row    {
    background-color: pink;
    border: 2px solid lightcoral;
    padding: 1rem;
}

[class*="col"]  {
    background-color: blue;
    border: 2px solid cyan;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

p   {
    color: white;
}

[class*="nested"]  {
    background-color: lightgreen;
    border: 2px solid white;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="nested"] p {
    font-size: 9pt;
}

.row.center {
    justify-content: center;
}

.row.end    {
    justify-content: end;
}

.row.Top :first-child   {
    height: 100px;
}

.row.Top :nth-child(2)   {
    height: 50px;
}

.row.Center {
    align-items: center;
}

.row.Center :first-child    {
    height: 100px;
}

.row.Center :nth-child(2)   {
    height: 50px;
}

.row.End {
    align-items: flex-end;
}

.row.End :first-child    {
    height: 100px;
}

.row.End :nth-child(2)   {
    height: 50px;
}

.col-12.justify-between  {
    justify-content: space-between;
}

.col-12.justify-around {
    justify-content: space-around;
}